<div class="container">
	<div class="row">
		
        
        <div class="col-md-12">
        <h4>Product</h4>
        <div class="table-responsive">

                
    <table id="mytable" class="table table-bordred table-striped">
                   
                   <thead>
                   <tr>
                     <th><input type="checkbox" id="checkall" /></th>
                     <th>price</th>
                     <th>quantity</th>
                   </tr>
                   </thead>
    <tbody>
    
    <tr>
    <td><input type="checkbox" class="checkthis" /></td>
    <td>1.5</td>
    <td>4</td>
  
    </tr>
    
 <tr>
    <td><input type="checkbox" class="checkthis" /></td>
    <td>1.4</td>
    <td>3</td>
    </tr>
    
    
 <tr>
    <td><input type="checkbox" class="checkthis" /></td>
    <td>7</td>
    <td>10</td>
    </tr>
    
    
    
 <tr>
    <td><input type="checkbox" class="checkthis" /></td>
    <td>9</td>
    <td>3</td>
    </tr>
    
    
 
   
    
   
    
    </tbody>
        
</table>


            
        </div>
	</div>
</div>


    
    
    <button type="button"  class="btn btn-success">buy</button>
<button type="button" class="btn btn-danger">sell</button>
  
       
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 